<div>
<button class="btn btn-default" v-on:click.stop.prevent="toggleRecording">
    <i class="stop icon" v-show="isRecording"></i>
    <i class="record icon" v-show="!isRecording"></i>
    <span v-show="!isRecording">Start recording</span>
    <span v-show="isRecording">Stop recording</span>
</button>
<button class="btn btn-primary" v-if="dataUrl.length > 0" v-on:click.stop.prevent="togglePlay">
    <i class="play icon"></i> Play recording
</button>
<button class="btn btn-warning remove-recording" v-if="dataUrl.length > 0" v-on:click.stop.prevent="removeRecording">
    <i class="remove icon"></i> Delete recording
</button>
<button class="btn btn-default" v-if="dataUrl.length > 0">
    <i class="send icon"></i> Send recording
</button>
<video height="300"  id="audio" preload="auto" v-model="dataUrl" autoplay></video>
</div>