<div>
    <button v-bind:class="[isRecording?'btn btn-danger':'btn btn-primary']" v-on:click.stop.prevent="calling">
        <i class="fa fa-stop" v-show="isRecording"></i>
        <i class="fa fa-play" v-show="!isRecording"></i>
        <span v-show="!isRecording">Chiama Operatore</span>
        <span v-show="isRecording">Termina Chiamata</span>
    </button>

    <div style="position: relative" >
            <video id="remoteVideo" style="height: 350px;" autoplay></video>
        <div style="width: 30%;position: absolute;top: 0px;right: 0px" >
            <video id="localVideo" autoplay></video>
        </div>
    </div>
</div>

