<div>
    <button v-bind:class="[isRecording?'btn btn-danger':'btn btn-primary']" v-on:click.stop.prevent="calling">
        <i class="fa fa-stop" v-show="isRecording"></i>
        <i class="fa fa-play" v-show="!isRecording"></i>
        <span v-show="!isRecording">Chiama Operatore</span>
        <span v-show="isRecording">Termina Chiamata</span>
    </button>

    <div style="position: relative" v-show="isRecording">
            <video id="remoteVideo" style="height: 350px;" autoplay></video>
        <div style="
            background-color: transparent;
            width: 30%;
            position: absolute;
            top: -3px;
            right: -3px;
            box-shadow: 5px 5px 10px #888;
            -moz-box-shadow: 5px 5px 10px #888;
            -webkit-box-shadow: 5px 5px 10px #888;
            " >
            <video id="localVideo" autoplay height="100%"></video>
        </div>
    </div>
</div>

